body {
  background-color: bisque;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:maroon;
  color:bisque;
  border-style: groove;
  border-width: .3rem;
}

.App > div {
  padding: 1rem;
  background-color:mistyrose;
  color: maroon;
  border-style: groove;
  border-width: .3rem;
}

p {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-left: -40px
}